body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

header{
  height: 100%;
  border:1px solid #ccc;
  text-align: center;
  background-color: #ccc;
  margin-bottom: 20px;
}

section{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.input,.btn{
  padding: 10px;
  margin-top: 10px;
  border-radius: 3%;
}
.input{
  width: 300px;
  text-align: center;
}

.btn{
  width:320px;
}